@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:  20px 50px;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-size: 24px;
}

.section-links {
    color: #000;
    text-decoration: none;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
}

h1, h2, p {
    margin-left: 10px;
    padding-bottom:20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

#home {
    background-color: #362FD9;
}

#aboutme {
    background-color: #3C84AB;
}

#product {
    background-color: #85CDFD;

}

#pricing {
    background-color: #DEFCF9;

}

#contact {
    background-color: #85CDFD;
}

