@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:  20px 50px;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-size: 24px;
}

.section-links {
    color: #000;
    text-decoration: none;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
}

#home h1, h2, h3, p, ul, li {
    margin-left: 10px;
    padding-bottom:20px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

h2, img {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}

#home {
    background-color: #362FD9;
}

p, .skillset-list {
    font-size: 25px;
}




#aboutme {
    background-color: #85CDFD;
}


#pricing {
    background-color: #DEFCF9;

}

#contact {
    background-color: #85CDFD;
}

